.bg-hero {
  background-image: url(/images/herovinted.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
}
@media (min-width: 768px) {
  .bg-hero {
    background-size: cover;
    background-position: 50%;
    height: 560px;
    padding-top: unset;
  }
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
}
img[alt="vinted logo"] {
  padding-right: 0.2rem;
}
.gap-4 {
  gap: 0.001rem;
}
.hero-ready1 {
  display: none;
}
@media (min-width: 640px) {
  .hero-ready1 {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
    display: flex;
    flex-direction: column;
    font-size: 34px;
    height: 220px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 75px;
    left: 5%;
    width: 360px;
  }
}
@media (min-width: 1280px) {
  .hero-ready1 {
    height: 280px;
    width: 380px;
  }
}

.card-offer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(113px, 1fr));
  gap: 1.5rem;
  height: 100%;
}
#load .card-offer {
  height: 800px;
}
.detail span {
  flex: 1 1;
}
label {
  width: 100%;
}
fieldset button {
  width: 100%;
  height: 2.5rem;
}
.warn input {
  border-bottom: 2px solid #f87171;
}
img.w-8.mr-1 {
  display: inline-block;
  border-radius: 50%;
  background: #000;
  color: #fff;
}
.chevron {
  width: 2.5rem;
  background-color: #77b5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0.5;
}
.chevron img {
  width: 2rem;
}
.active {
  pointer-events: unset;
  opacity: 1;
}
.ph-load {
  height: 85%;
}
.inactive {
  pointer-events: none;
  opacity: 0.5;
}

/* Drag & Drop Css... */

.drag-area {
  position: relative;
  border: 2px dashed #a8a29e;
  max-width: 600px;
  width: 85%;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#picture {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.drag-area:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  opacity: 0.8;
}


/* Css Modal... */

.modal-root {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.modal {
  background-color: white;
  width: 600px;
  height: 300px;
  padding: 2rem 3rem;
  border-radius: 12px;
}
/*  preparation for css not used */

.sold {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 20%;
  right: 20%;
  background-color: white;
}
