@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    max-width: 1280px;
    margin: 0px auto;
  }
  .inputField {
    @apply w-full p-2 sm:p-2.5 border-b-2 border-teal-300 outline-none focus:border-zinc-400;
  }
  .publishField {
    @apply flex-1 h-full px-4 border-b-2 border-neutral-200 outline-none focus:border-zinc-400;
  }

  button:not(.bt-deco) {
    
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    outline: none;
    width: auto;
    padding: 0 10px;
  }
  
  header input {
    background-color: #f5f6f7;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    height: 37px;
    outline: none;
    padding-left: 2.25rem;
  }
  header input:focus {
    outline: none;
  }

  .searchbar img {
    position: absolute;
    width: 16px;
    left: 10px;
    top: 10px;
  }
}

* {
  box-sizing: border-box;
}

.aspect-\[0\.6\/1\] {
  aspect-ratio: 0.8 / 1;
}
.mr-3 {
  margin-right: 0.5rem;
}
#seco {
  margin-right: 8px;
}
html,
body {
  max-width: 100vw;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}
h3 {
  font-size: 22px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
